@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');


/*Estilos gerais*/
* {
    font-family: Verdana, sans-serif;
    margin: 0px;
    width: 100%;
    background-color: black;
    color: white;
}

body {
    padding: 0px 0px 20px 0px;
}

main {
    display: flex;
    margin: 0px;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

section {
    text-align: center;
    width: 95%;
}

span.monospace {
    font-family: monospace;
}


/*Submeter novas quotes*/
section.submeter {
    font-size: 2em;
}
section.submeter > pre {
    margin-top: 100px;
}
section.submeter > form {
    margin-top: 120px;
}
section.submeter > form > textarea {
    margin-top: 20px;
    resize: both;
}
section.submeter > form > input {
    font-size: 0.8em;
}


/*A quote*/
section.as-quotes {
    font-size: max(1.8em, 3.5vw);
}
section.as-quotes > p {
    margin-top: min(200px, 20%);
}
section.as-quotes > p:last-child {
    font-family: 'Imperial Script', cursive;
}

div.letras-pequenas {
    font-size: 0.5em;
}


/*Footer Input*/
input#num-desta {
    max-width: 35px;
    width: fit-content;
    border: none;
    background-color: black;
    color: white;
    font-size: 1.0em;
    text-align: right;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

input[type=number] {
    appearance: textfield;
}


/*Footer*/
footer {
    margin: 20px 0px 0px 0px;
    width: 100%;
}
footer > p {
    text-align: center;
    margin-top: 30px;
}
footer > p.submeter > a {
    color: white;
    text-decoration: none;
}
footer > p.submeter > a:hover {
    text-decoration: underline white;
}